<%- include('../partials/header.ejs', {title: 'Borrowing History'}) %>
<div class="container mt-4">
  <h2><%= isAdmin(data_user) ? username + ' (admin)' : username %></h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Genre</th>
        <th scope="col">Borrow Date</th>
        <th scope="col">Return Date</th>
        <th scope="col">Rating</th>
        <th scope="col">Review</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    <% data.forEach(el => { %>
      <tr>
        <td><%= el.Book.title %></td>
        <% let genre = el.Book.genre.substring(1, el.Book.genre.length-1).split(',') %>
        <td>
            <% for (let i = 0; i < genre.length; i++) { %>
            <ul class="list-group">
                <li class="list-group-item"><%= genre[i] %></li>
            </ul>
            <% } %>
        </td>
        <td><%= el.borrow_date.toLocaleDateString() %></td>
        <td><%= el.return_date ? el.return_date.toLocaleDateString() : '-' %></td>
        <td><%= el.rating %></td>
        <td><%= el.review %></td>
        <td>
          <% if(el.return_date){ %>
            <a class="btn btn-primary" href="/users/<%=username%>/<%=el.Book.id%>">Borrow Again</a>
          <% } else { %>
            <a class="btn btn-primary" href="/users/<%=username%>/<%=el.id%>/return">Return</a>
          <% } %>
        </td>
      </tr>
    <% }) %>
    </tbody>
  </table>
</div>
<%- include('../partials/footer.ejs') %>