<%- include('../partials/header.ejs', {title: 'List of Books'}) %>
<div class="container mt-4">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    <% data.forEach(el => { %>
      <tr>
        <td><%= el.name %></td>
        <td><%= el.address %></td>
        <td>
            <a href="/publishers/books/<%= el.id %>" class="btn btn-info">Show Books</a>
        </td>
      </tr>
    <% }) %>
    </tbody>
  </table>
</div>
<%- include('../partials/footer.ejs') %>